
:root {
  --background-color: #1e1e1e;
  --text-color: white;
  --link-color: #4e9af1;
  --header-bg: linear-gradient(rgb(30, 30, 30), black);
  --header-opacity: 1;
}

[data-theme='light'] {
  --background-color: whitesmoke;
  --text-color: black;
  --link-color: #1a0dab;
  --header-bg: linear-gradient(rgb(0, 0, 0), darkblue);
  --header-opacity: 0.75;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  /* height: max-content; */
  min-width: 1200px;
}

a {
  color: var(--link-color);
}

p {
  font-family: Verdana, sans-serif;
}

section {
  font-family: 'Trebuchet MS', sans-serif;
}

h3 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
}

.header {
  background: var(--header-bg);
  opacity: var(--header-opacity);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 5%;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header li {
  display: inline;
  list-style: none;
  opacity: 100%;
}

.header button {
  height: 100%;
  border: none;
  padding: 0.5rem 50px;
  min-width: 70px;
  background: none;
  color: aliceblue;
  display: inline-block;
  flex-direction: row;
  align-items: center;
}

#colour-theme-btn {
  height: 50px;
  width: 50px;
  padding: 0;
  border: none;
  margin-top: 10px;
}

#colour-theme-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.theme-btn {
  display: inline;
  /* flex-direction: row; */
  background: none;
  color: var(--text-color); 
  position: sticky;
  /* top: 1; */
}

[data-theme='light'] .theme-btn {
  background: none;
  color: white
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: whitesmoke; to be replaced with image(s) later */
}

#AKK {
  font-family: "Playwrite DE LA", cursive;
  font-size: 1.5rem;
  color: antiquewhite;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: auto; */
  align-items: center;
  padding: 50px 60px 0px 40px;
}

.profile a {
  display: flex;
}

.pfp-wrapper {
  background-image: url('/public/pattern.jpg');
  position: relative;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 450px; 
  height: 450px; 
  margin-left: 25%;
  /* margin-top: 120px; */
  animation: slow-rotate 60s linear infinite;
}

.pfp {
  width: 440px;
  height: 440px;
  background-color: rgba(0, 0, 0, 0);
  transition: transform 0.3s ease-in-out;
  border: 5px solid transparent; 
  position: absolute;
  animation: slow-rotate 60s linear infinite reverse;
  
}

.pfp img:hover {
  transform: scale(1.2); 
}

@keyframes slow-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile h1 {
  font-family: "Courgette", cursive;
}

.profile h2 {
  font-size: 2rem;
}

.profile a {
  background-color: #4e9af1;
  padding: 0px 10px;
  border-radius: 20px;
  color: #1e1e1e;
  border: 2px solid #013774bb;
}

.profile a:hover {
  background-color: #013774bb;
  padding: 0px 10px;
  border-radius: 20px;
  color: #ffffff;
  border: 2px solid whitesmoke;
}

.left-profile a {
  width: 60%;
  font-size: 1rem;
  font-weight: bold;
}

[data-theme='light'] .left-profile a {
  color: #c8d9fd;
}

.about {
  background-color: #99a0f780;
  width: 80%;
  border-radius: 20px;
  padding: 20px;
  padding-top: 10px;
  align-content: center;
  
}
.about {
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.about:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}


.about h2 {
  display: flex;
  justify-content: center;
}

.content {
  display: inherit;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.further-reading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 80px;
  width: 90%;
  font-size: 1rem;
  gap:60px;
  max-height: 2300px;
}

.further-reading img {
  width: 100%;
  padding-left: 10px;
  padding-bottom: 50px;
}

.further-reading img {
  transition: transform 0.3s ease-in-out;
}

.further-reading img:hover {
  transform: scale(1.1);
  
}

.further-reading a {
  padding-top: 30px;
}

.further-reading section {
  padding-bottom: 20px;
}

.further-reading section p {
  /* padding-bottom: 20px; */
  display: none;
}

.further-reading section:hover p {
  transition: transform 0.3s ease-in-out;
  /* padding-bottom: 20px; */
  display: block;
}

.contact {
  background-color: #99a0f780;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding-bottom: 20px;
}

[data-theme='light'] .contact {
  background-color: #99a0f780;
}

.contact section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
  width: 40%;
}

.contact a {
  font-weight: bold;
  color: #dcd8ff;
  text-shadow: 1px solid #000000;
}
.contact a:hover {
  color: #14b5dd;
  text-shadow: 1px solid #ffffff;
}


.contact h2 {
  font-size: 2rem;
}

.contact p {
  font-weight: bold;
}

.contact img {
  width: 30px;
  height: 30px;
  display: flex;
}

[data-theme='light'] .contact a {
  color: #867cdf;
  text-shadow: #000000;
}
[data-theme='light'] .contact a:hover {
  color: #000000;
  text-shadow: #ffffff;
}


footer {
  display: grid;
  grid-template-rows: 3fr 1fr;
  align-items: center;
  text-align: center;
}

footer a {
  padding-bottom: 20px;
}

footer img {
  width: 30px;
  height: 30px;
}

footer button {
  padding: 20px;
  background-color: #1e1e1e5b;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  /* padding-bottom: 200px; */
  height: 300px;
  font-size: 20px;
  
}

.skill-img img {
  padding: 10px 20px;
  height: 50px;
  width: 50px;
  transition: 1s ease-in-out;
} 

.skill-text span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  height: 50px;
  width: 50px;
  font-family: "Comic Neue", cursive;
  transition: 1s ease-in-out;
}

.skill-text img {
  /* transition: 1.5s ease-in-out;
  padding: 0;
  height: 0;
  width: 0; */
  opacity: 50%;
  transition: 1s ease-in-out;
  padding: 10px 20px;
  height: 50px;
  width: 50px;
}

.skill-img span {
  padding: 0;
  height: 0;
  width: 0;
  font-size: 0;
  
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

#particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

